@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Victor Mono', monospace;
  height: 2000px;
}

body::-webkit-scrollbar {
  width: 6px;
}

/* Стилизация вертикальной полосы прокрутки */
body::-webkit-scrollbar-thumb {
  background-color: #e2e2e2; /* Цвет полосы прокрутки */
  border-radius: 6px; /* Закругленные углы полосы прокрутки */
}

/* Стилизация трека (фона) полосы прокрутки */


/* Дополнительные стили для активного состояния полосы прокрутки */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет при наведении */
}

/* Дополнительные стили для фокусного состояния полосы прокрутки */
body::-webkit-scrollbar-thumb:focus {
  background-color: #777; /* Цвет при фокусе */
}

